vendor/
node_modules/
public/build/
app/storage/cache/
app/storage/logs/
app/storage/sessions/
app/storage/views/
app/storage/data
app/storage/meta
.env
Archive
tmp
public/data
.vscode
public/TPT2024/
app/views_X/
public/tpt-dev.ad.targa.de.crt
app/secrets.php
